<%- include('../particles/header.ejs') %>
<%- include('../particles/navigation.ejs') %>
<div class="main">
    <h1>Личный кабинет> </h1>
    <div>
        <p>Больница 1</p>
    </div>
    <div class="link-menu__wrapper">
        <!-- <img src="img/icon__account.svg" class="img-menu__icon"/> -->
        <a href="hub" class="link-menu">Ваши устройства</a>
    </div>
<%- include('../particles/footer.ejs') %>
