<%- include('../particles/header.ejs') %>
<%- include('../particles/navigation.ejs') %>
<div class="main">
    <h1>Больница1 </h1>
    <div>
        <p>Больница 1</p>
    </div>
<%- include('../particles/footer.ejs') %>